@import url(https://www.dita-ot.org/css/main.css);


body {
	font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
	font-familY: "Roboto Slab";
}

/* Style navigation as sidebar */
nav[role=toc] {
  float: left;
}

/* Highlight current topic in bold */
nav[role=toc] li.active > a {
  font-weight: bold;
}

/* Adjust navigation indentation */
.bs-docs-sidenav,
.bs-docs-sidenav li ul {
  padding-left: 20px;
}

/* Fix table conflict with bootstrap's row class */
.table .row {
  display: table-row;
}

nav[role="toc"] {
  background-color: #343a40;
}

a.navbar-brand::first-letter {
	font-size: larger;
}
