
@import url(https://www.dita-ot.org/css/main.css);

:root {
	--primary: #001AFF;
	--bg: #000000;
	--text: #C0C0C0;
	--text-light: #FFFFFF;
	--text-mid: #474747;
	--text-highlight: #C7CDFF;
	--headline: #FFFFFF;
	--link: #FFFFFF;
	--link-dark: #3268FF;
	--link-hover: #4F95FF;

	--grid-width: 73.5rem;
	--grid-max-width: 80%;
	--grid-gutter-width: 1.875vw;

	--gutter-width: 30;

	--baseline: clamp( 0.375rem, 0.25vw + 0.225rem, 0.625rem );
};

@keyframes blinkingText {
	0% { fill: currentColor; }
	49% { fill: currentColor; }
	60% { fill: transparent; }
	99% { fill: transparent; }
	100% { fill: currentColor; }
}

@mixin type-default {
	font-size: clamp( 1rem, 0.5vw + 0.7rem, 1.5rem ) !important;
	line-height: clamp( 1.3rem, 0.7vw + 0.9rem, 2rem ) !important;
	margin: clamp( 0.9rem, 0.4vw + 0.6rem, 1.3rem ) 0;
}

@mixin type-f1 {
	font-size: clamp( 2.3rem, 3.5vw + 0.2rem, 5.8rem ) !important;
	line-height: clamp( 2.1rem, 3.3vw + 0.1rem, 5.4rem ) !important;
	margin: clamp( 0.8rem, 1.3vw + 0.1rem, 2.2rem ) 0;
}

@mixin type-f2 {
	font-size: clamp( 2.1rem, 2.9vw + 0.4rem, 5rem ) !important;
	line-height: clamp( 2rem, 2.8vw + 0.4rem, 4.8rem ) !important;
	margin: clamp( 1.2rem, 1.6vw + 0.2rem, 2.9rem ) 0;
}

@mixin type-f3 {
	font-size: clamp( 2rem, 2vw + 0.8rem, 4rem ) !important;
	line-height: clamp( 2rem, 2vw + 0.8rem, 4rem ) !important;
	margin: clamp( 1rem, 1vw + 0.4rem, 2rem ) 0;
}

@mixin type-f4 {
	font-size: clamp( 1.5rem, 2vw + 0.3rem, 3.5rem ) !important;
	line-height: clamp( 1.4rem, 1.9vw + 0.23rem, 3.3rem ) !important;
	margin: clamp( 0.7rem, 0.9vw + 0.1rem, 1.6rem ) 0;
}

@mixin type-f5 {
	font-size: clamp( 1.1rem, 0.8vw + 0.7rem, 1.9rem ) !important;
	line-height: clamp( 1.5rem, 1vw + 0.9rem, 2.5rem ) !important;
	margin: clamp( 0.8rem, 0.5vw + 0.5rem, 1.3rem ) 0;
}

@mixin type-f6 {
	font-size: clamp( 1rem, 0.5vw + 0.7rem, 1.5rem ) !important;
	line-height: clamp( 1.3rem, 0.7vw + 0.9rem, 2rem ) !important;
	margin: clamp( 0.9rem, 0.4vw + 0.6rem, 1.3rem ) 0;
}

@mixin type-f7 {
	font-size: clamp( 0.8rem, 0.3vw + 0.6rem, 1rem ) !important;
	line-height: clamp( 1.1rem, 0.4vw + 0.9rem, 1.4rem ) !important;
	margin: clamp( 0.9rem, 0.3vw + 0.7rem, 1.1rem ) 0;
}

@function grid-gutter( $gutters: 1 ) {
	@return calc( $gutters * ( var(--gutter-width) / 16 ) * 1vw );
}

@function grid-baseline( $baseline: 1 ) {
	@return calc( var(--baseline) * $baseline );
}


// Base


html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	background-color: var( --bg );
	overflow-x: hidden;
	overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: var( --headline ) !important;

	&.text-dark {
		color: var( --headline ) !important; // TODO where is this class coming from?
	}
}

h1 {
	@include type-f1;
}

h2 {
	@include type-f2;
}

h3 {
	@include type-f3;
}

h4 {
	@include type-f4;
}

h5 {
	@include type-f5;
}

p {
	@include type-default;
	font-weight: 400;
	color: var( --text );

	&.shortdesc {
		@include type-f5;
		font-weight: 400;
		color: var( --text-highlight );

		&.text-muted {
			color: var( --text-highlight ) !important;
		}
	}
}

.p {
	@include type-default;
	color: var( --text );
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var( --link );
	transition: color 0.2s, opacity 0.2s, text-decoration-color 0.2s;

	&:hover {
		text-decoration: none;
		color: var( --link-hover );
	}
}

dl {
	color: var( --text );
}

li {
	color: var( --text );
}

.visually-hidden-focusable {
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	clip: rect( 0, 0, 0, 0 );
	position: absolute;
	border: 0;
	overflow: hidden;
	white-space: nowrap,
}

.bs-container {
	margin-left: auto; margin-right: auto;
	width: var(--grid-width) !important;
	max-width: var(--grid-max-width);
	padding: 0 calc( var(--grid-gutter-width) / 2 );
	box-sizing: border-box;
	gap: inherit !important;
	grid-column-gap: var(--grid-gutter-width) !important;
}

.bs-header + #content {
	padding-top: 0;
	margin-top: 0;
}

// Header

header {
	margin-top: grid-baseline(6.5);

	.navbar {
		background-color: rgba( 0, 0, 0, 0.85 );
		padding: 0;
		margin-bottom: grid-baseline(5.5);

		.bs-container {
			display: flex;
			width: var(--grid-width);
			align-items: center;
			max-width: 94%;
			flex: 1 1 auto;
			margin-top: grid-baseline(2.5); margin-bottom: grid-baseline(2.5);
		}

		.navbar-nav {
			margin-left: auto;
			align-items: center;

			.nav-item {
				a {
					color: var( --link );
					font-weight: 500;
					padding: 0 grid-gutter(0.5);
				}

				&:hover {
					background-color: transparent;

					a {
						opacity: 0.5;
					}
				}
			}
		}

		.navbar-toggler {
			color: var( --text-light );
			margin-right: -0.75rem; margin-left: auto;
			border: none;

			svg {
				fill: var( --text-light );
				width: grid-baseline(4); height: 100%;
				stroke-width: 2px;
			}
		}
	}

	.c-logo {
		display: block;
		width: 12.75rem;
		color: var( --link );

		svg {
			width: auto; height: 100%; max-width: 100%;
			display: block;
		}

		&_line {
			animation: blinkingText 1.2s infinite;
			color: var( --primary );
		}
	}
}

// Aside Nav

nav {
	&.bs-sidebar-nav {
		width: 100%;
		min-width: 18.375rem;
		margin-left: 0;
		padding-left: 0;

		> ul {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;

			> li {
				@include type-default;
				font-weight: 500;
				margin: grid-baseline(0.75) 0;
			}
		}

		ul {
			list-style: none;
			padding-left: 0;

			ul {
				padding: 0 grid-baseline(2.5);

				a {
					--link: var( --text );
					font-weight: 400;
				}
			}
		}

		li {
			margin: grid-baseline(1.75) 0;

			&.active {

				> a {
					--link: var( --link-dark );
				}
			}
		}
	}
}

// Main

main {

	&.container {
		padding-left: grid-gutter(1.5);
		width: 100%;
	}

	article {
		max-width: min( 36.75rem, 80vw );
		border-bottom: 1px solid var( --text-mid );
		padding-bottom: grid-baseline(3);

		a {
			text-decoration: underline;
			text-decoration-style: dotted;
			text-decoration-color: rgba(255, 255, 255, 0.25);
			text-underline-offset: 0.25em;
			text-decoration-thickness: 1px;

			u {
				text-decoration: none;
			}

			&:hover {
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-thickness: 1px;
			}
		}

		h1.title {
			@include type-f4;
			margin-top: 0;
		}

		.title {
			color: var( --headline ) !important;
		}

		h2 {
			@include type-f5;
		}

		.alert,
		.alert.note {
			@include type-default;
			padding: grid-baseline(2) grid-gutter(0.5);
			margin: grid-baseline(3) 0;
			background-color: rgba( 0, 26, 255, 0.55 );
			color: var( --text-light );
			border: none;
			margin-left: 0 !important; margin-right: 0 !important;

			a {
				--link: currentColor;
				color: var(--link);

				&:hover {
					color: var(--link-hover);
				}
			}
		}

		dl {
			@include type-default;

			dt {
				margin-top: 0;
			}
		}

		ul, ol {
			@include type-default;
			display: flex;
			flex-direction: column;
			gap: grid-baseline(2);
			margin: grid-baseline(3) 0;
			padding-left: grid-baseline(3);

			.ulchildlink {
				margin: 0;
			}

			p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		ol {

			.stepexpand {
				margin-top: 0; margin-bottom: 0;
			}
		}

		h1 {
			margin-bottom: grid-baseline(3);
		}

		h2 {

			&:first-child {
				margin-top: grid-baseline(4);
			}
		}

		img {
			display: flex;
			max-width: 100%;
			margin: grid-baseline(6) auto;
		}

		table,
		.table {
			@include type-f7;
			width: 100%;
			margin: grid-baseline(2) 0 grid-baseline(4);
			color: var( --text );

			caption {
				font-weight: 700;
				color: var( --text );

				~ thead {

					tr {
						border-top: 1px solid var( --text-mid );
					}
				}
			}

			tr {
				border-bottom: 1px solid var( --text-mid );
			}

			thead {
				text-align: left;

				th {
					font-weight: 700;
					border-top: none;
					border-bottom: none;
					vertical-align: inherit;
					padding: grid-baseline(2) grid-gutter(1);
				}
			}

			tbody {
				td {
					border-top: none;
					padding: grid-baseline(2) grid-gutter(1);
				}
			}
		}

		strong + a {
			margin-left: grid-baseline(0.5);
		}

		pre {
			&.codeblock {
				@include type-f7;
				margin: grid-baseline(3.5) 0;
				font-family: monospace;
				text-shadow: none;
				padding: grid-baseline(3) grid-gutter(0.5);
				border-radius: 6px !important;
				background-color: rgba( 0, 26, 255, 0.22 );
				overflow-x: auto;
				border: none !important;
			}
		}

		pre code,
		pre[class*='language-'] code {
			font-family: monospace;
			font-weight: 400;
			-webkit-font-smoothing: auto;
			color: var( --text-highlight );
			white-space: pre-wrap;
		}

		.parentlink {
			@include type-default;
			color: var( --text );
		}

		.related-links {

			.ullinks {
				list-style-type: disc;
				padding-left: grid-baseline(3);
			}
		}

		.linklist  {
			@include type-default;
			color: var( --text );
		}

		li.linklist {
			margin: 0;
		}
	}
}


/**
 * 	Media Queries
 *	--------------------------------------------------
 */

/** Breakpoint:	Large ----------------------- */

@media ( min-width: 1400px ) {
	:root {
		--grid-width: 108rem;
		--grid-max-width: 72%;
		--grid-gutter-width: 3vw;
	}

	main {
		article {
			max-width: min( 54rem, 72vw );
		}
	}
}

/** Breakpoint:	Small ----------------------- */

@media ( max-width: 991px ) {
	:root {
		--grid-width: 36rem;
		--grid-max-width: 90%;
		--grid-gutter-width: 1.5vw;

		--gutter-width: 24;
	}

	button {
		&:focus {
			outline: none;
		}
	}

	.bs-container {
		.container {
			margin: 0;
			padding: 0;
			max-width: 100%;
		}
	}

	// Header

	.bs-header {
		position: sticky;
		top: 0;
	}

	header {
		margin-top: grid-baseline(2.5);

		.c-logo {
			width: 9.25rem;
		}

		.navbar {
			margin-bottom: grid-baseline(2.5);

			.bs-container {
				max-width: var(--grid-max-width);
				flex-flow: row wrap;
				margin: grid-baseline(3.25) auto;
			}

			.nav-bar {
				margin-bottom: 0;
			}

			.navbar-collapse {
				margin-top: grid-baseline(2.5);

				.navbar-nav {
					align-items: flex-start;
				}
			}
		}
	}

	// Aside Nav

	nav {
		&.bs-sidebar-nav {
			position: relative;
			top: 0;
			min-width: auto;
			height: auto;
			margin-bottom: grid-baseline(4);

			ul {
				li:last-child {
					ul {
						li:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		+ main {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				right: -25vw; top: 0; left: -25vw;
				width: 150vw;
				border-top: 1px solid rgba( 71, 71, 71, 0.5 );
			}

			article {
				padding-top: grid-baseline(4.75);
			}
		}
	}

	// Main

	#content.bs-container {
		grid-template-areas: none;
		grid-template-columns: auto;
	}

	main {

		article {
			max-width: min( 36rem, 90vw );
		}
	}
}
